.calculator{
    height: 520px;
    width: 435px;
    border-radius: 5px;
    overflow: hidden;
    
    display:grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 1fr  78px 78px 78px 78px 78px;
}