.principal{
    height: 330px;
    width: 220px;
    border-radius: 2%;
    background-color: #f8d1e3;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.titulo{
    color: rgb(1, 44, 94);
    font-family: 'Amatic SC', cursive;
    margin-left: 20px;
    
}